* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background-image: url("./img/fondoMovil.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main .portada h1 {
    font-size: 2.4rem;
    text-align: center;
    margin: 10px;
}

main .temas {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .temas h2{
    font-size: 2rem;
    color: white;
}

main .temas p {
    margin-top: 10px;
}

main .temas .temas-img{
    display: flex;
    flex-direction: row;
}

main .temas .temas-img .TimBerners {
    width: 65%;
    height: 25%;
    margin-top: 10px;
}

main .temas .temas-img .WWW {
    width: 25%;
    height: 25%;
    margin-top: 10px;
    margin-left: 10px;
}

main .temas .img2{
    position: relative;
    justify-content: center;
}

main .temas .temas-img .img-nexus{
    width: 60%;
}

main .temas .temas-img .img-netscape{
    width: 80%;
    position: absolute;
    top: 120px;
}

main .temas .temas-img .img-mosaic{
    width: 60%;
}

main .temas .img2 img{
    width: 80%;
}