
body {
    background-color: #4334cc;
    background-image: url("./img/fondoTablet.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

main .temas {
    flex-direction: column;
}

main .temas h2 {
    width: 100%;
    font-size: 2.8rem;
    margin-bottom: 5px;
}

main .temas h3{
    font-size: 1.9rem;
    margin: 10px;
}

main .temas p{
    width: 100%;
    font-size: 2rem;
    margin-bottom: 5px;
}

main .temas .temas-img {
    display: flex;
    width: 100%;
}

main .temas .temas-img .TimBerners {
    width: 50%;
    height: 30%;
}

main .temas .temas-img .WWW {
    width: 35%;
    margin-left: 10px;
}

main .temas .img2{
    position: relative;
    justify-content: initial;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main .temas .temas-img .img-nexus{
    width: 30%;
}

main .temas .temas-img .img-netscape{
    width: 30%;
}

main .temas .temas-img .img-mosaic{
    width: 30%;
}

main .temas .img3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

main .temas .img3 .netscape-browser{
    width: 45%;
    margin-bottom: 10px;
}

main .temas .img3 .versus{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

main .temas .img3 .internet_Explorer-browser{
    width: 45%;
}

main .temas .img3 figure img {
    width: 100%;
}

main .temas .img5 {
    display: flex;
    justify-content: space-around;
}

main .temas .img5 .internet-explorer__mac {
    width: 45%;
    margin-bottom: 0;
}

main .temas .img5 .steve-jobs {
    width: 45%;
}


main .temas .img6 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

main .temas .img6 .firefox-browser{
    width: 45%;
}

main .temas .img6 .proyecto-mozilla {
    width: 45%;
}

/*Estilos del tema 2*/

main .tema-dos h2{
    font-size: 2.8rem;
}

main .tema-dos .portada-tema-dos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 95%;
    margin: 0 auto;
}

main .tema-dos .carecteristicas-browser{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

main .tema-dos .carecteristicas-browser div{
    width: 50%;
    padding: 8px;
}

main .tema-dos .carecteristicas-browser div #safari{
   width: 85%;
   margin-bottom: 10px;
}

main .tema-dos .carecteristicas-browser .caracteristicas{
    font-size: 2rem;
}

main .tema-dos .tema-dos__chromium figure {
    width: 50%;
    margin: 0 auto;
}

main .tema-dos .tema-dos__chromium figcaption {
    font-size: 1.8rem;
    text-align: center;
}

main .tema-dos .tema-dos__chromium p {
    font-size: 2rem;
    margin: 10px;
    text-align: justify;
}